/* Стандартна кнопка (ПК) */
.blackbutton {
    display: inline-flex;
    align-items: center;
    min-height: 48px;
    padding-inline: 22px;
    font-size: 16px;
    background: linear-gradient(180deg, #3a3a3a, #1f1f1f);
    box-shadow:
    inset 0 -2px 4px rgba(0,0,0,0.6),
    0 6px 12px rgba(0,0,0,0.15);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: inset 0 1px 1px rgba(255,255,255,0.15), 0 6px 12px rgba(0,0,0,0.15);
    cursor: pointer;
    border-radius: 1000px;
    transition: all 0.2s ease;
}

.blackbutton:hover {
    transform: translateY(-1px);
    background: linear-gradient(180deg, #444, #242424);
}

/* Мобільна кнопка (прихована на ПК) */
.blackbuttonMOBILE {
    display: none; /* Ховаємо на ПК */
    align-items: center;
    justify-content: center;
    min-height: 48px;
    padding-inline: 22px;
    font-size: 16px;
    background: linear-gradient(180deg, #3a3a3a, #1f1f1f);
    color: white;
    border-radius: 1000px;
    cursor: pointer;
    width: 100%; /* Для меню */
}

/* ЛОГІКА ПЕРЕМИКАННЯ */
@media (max-width: 500px) {
    .blackbutton {
        display: flex !important; /* Ховаємо десктопну на мобілці */
    }
    .blackbuttonMOBILE {
        display: flex; /* Показуємо мобільну */
    }
}