
.TopPhoto {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
    top: -560px;
    margin: 0;
    max-width: 100%;

}

.header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 900px;
    padding-top: 120px;
}

.headerContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid rgb(238, 238, 238);
    border-radius: 50px;
    padding: 20px 100px 90px 100px;
    margin-top: 50px;
}

.subtitle {
    font-family: "Google Sans", sans-serif;
    font-size: 22px;
    color: rgb(100, 100, 100);
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.LandingBody {
    display: flex;
    flex-direction: column;

}

.title {
    font-family: "Google Sans", sans-serif;
    font-size: 120px;
    padding: 10px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 10px;
    
    
}

.LogoText {
    scale: 4;
    padding: 10px;
}

.img1wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 5px solid rgb(238, 238, 238);
}

.img1 {
    width: 900px;
    margin-top: 20px;
}

.title2 {
    font-family: "Google Sans", sans-serif;
    font-size: 50px;
    padding: 20px;
    margin: 330px 50px 10px 50px;
    -webkit-font-smoothing: antialiased;
    border: 5px solid black;
    border-radius: 20px;
}

.features {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.feature {
    padding-top: 40px;
    border-top: 2px solid rgb(237, 237, 237);
    max-width: 250px;
    font-family: "Google Sans", sans-serif;
}

.icon {
    width: 24px;
    height: 24px;
    margin-bottom: 24px;
}

.featureTitle {
    font-size: 22px;
    margin-bottom: 20px;
}

.featureText {
    font-size: 16px;
    color: rgb(100, 100, 100);
} 

.img2wrapper {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.howToStart {
    margin-top: 120px;
    scroll-margin-top: 100px;
}

.howToStartTitle {
    font-family: "Google Sans", sans-serif;
    font-size: 60px;
    padding: 20px;
    -webkit-font-smoothing: antialiased;
    margin-left: 50px;
    margin-right: 50px;
    border: 5px solid black;
    border-radius: 20px;
}

.steps {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    margin-top: 80px;
}

.step {
    max-width: 360px;
    font-family: "Google Sans", sans-serif;
    border-top: 2px solid rgb(237, 237, 237);
    padding-top: 80px;
}

.stepNumber {
    font-size: 80px;
    color: rgb(166, 166, 166);
    margin-bottom: 60px;
}

.stepTitle {
    font-size: 22px;
    margin-bottom: 20px;
}

.stepText {
    font-size: 18px;
    color: rgb(100, 100, 100);
}

.img3 {
    padding: 10px;
    margin-top: 60px;
}

.img3wrapper {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.contactUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    font-family: "Google Sans", sans-serif;
    border: 5px solid black;
    margin: 100px 50px 10px 50px;
}

.contactUsTitle {
    font-size: 60px;
    margin-bottom: 10px;
}

.contactUsText {
    font-size: 15px;
    color: rgb(100, 100, 100);
    margin-bottom: 40px;
}

.email {
    margin-bottom: 15px;
}

.featureSec {
    position: relative;
    scroll-margin-top: 100px;
}

.HelloS {
    position: absolute;
    top: 0%;
    left: 93%;
    width: 20%;
}

.YouCanS {
    position: absolute;
    top: 60%;
    left: -5%;
    width: 17%;
    transform: rotate(-10deg);
}

@media (max-width: 1030px) {
.LandingBodyTitle {
    font-family: "Google Sans", sans-serif;
    font-size: 100px;
    padding: 5px;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 5px;
    
}

.LogoText {
    scale: 3;
    padding: 5px;
}

.LandingHeroContent {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid rgb(238, 238, 238);
    border-radius: 50px;
    padding: 20px 80px 60px 80px;
    margin-top: 50px;
}
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px); /* Починає на 30px нижче */
  }
  to {
    opacity: 1;
    transform: translateY(0);    /* Стає у звичне положення */
  }
}

.animate {
  /* Назва анімації, тривалість 0.8с, м'який старт/фініш */
  animation: fadeInUp 0.8s ease-out forwards;
  
  /* Початковий стан, щоб заголовок не "блимнув" перед анімацією */
  opacity: 0; 
}